{% extends 'AdminBundle:Master/Layouts:admin.html.twig' %}

{% block breadcrumbs %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('admin_dashboard') }}">
                    {{ 'admin.global.breadcrumb.home'|trans({}, 'admin') }}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                <a href="{{ path('admin_category') }}">
                    {{ 'admin.module.category.breadcrumb.category'|trans({}, 'admin') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block toptitle %}
    <h1 class="page-title"> {{ 'admin.module.category.name'|trans({}, 'admin') }}
        <small> {{ 'admin.module.category.index.pagetitle_small'|trans({}, 'admin') }}</small>
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn blue btn-circle btn-md" href="{{ path('admin_category_create') }}">
                    {{ 'admin.module.category.index.create_btn'|trans({}, 'admin') }}
                </a>
            </div>
        </div>
    </h1>
{% endblock %}

{% block content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list font-grey-gallery"></i>
                <span class="caption-subject bold font-grey-gallery uppercase">
                        {{ 'admin.module.category.index.caption'|trans({}, 'admin') }}
                </span>
                <span class="caption-helper">
                    {{ 'admin.module.category.index.caption_small'|trans({}, 'admin') }}
                </span>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                <a href="" class="fullscreen" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    {% if categories is not empty %}
                        {% for category in categories %}
                            <div class="col-md-2">
                                <div class="category-image">
                                    <h2 class="category-name" {{ category.getStatus() == 0 ? "style='opacity: 0.4'" : ''}}>
                                        {{ category.getTitle() }}
                                    </h2>

                                    {% if category.getStatus() == 0 %}
                                        <p class="status-hidden">&#10006;</p>
                                    {% endif %}

                                    <img src="{{ category.getImage() }}" width="100%"
                                              {{ category.getStatus() == 0 ? "style='opacity: 0.2'" : ''}}>
                                    <div class="action-buttons">
                                        <a class="btn yellow-gold btn-sm tooltips" type="button" data-container="body"
                                           data-placement="top"
                                           data-original-title="{{ 'admin.module.category.index.btn_sublist'|trans({}, 'admin') }}"
                                           data-action="hide"
                                           data-category-id="{{ category.getId() }}"
                                           data-btn-ok-label="{{ 'admin.global.buttons.yes'|trans({}, 'admin') }}"
                                           data-btn-cancel-label="{{ 'admin.global.buttons.no'|trans({}, 'admin') }}"
                                           data-toggle="confirmation"
                                           data-popout="true"
                                           data-on-confirm="modifyCategory">
                                            <i class="icon-list"></i>
                                        </a>

                                        {% if category.getStatus() == 1 %}
                                            <a class="btn purple btn-sm tooltips"
                                               type="button"
                                               data-container="body"
                                               data-placement="top"
                                               data-original-title="{{ 'admin.module.category.index.btn_hide'|trans({}, 'admin') }}"
                                               data-action="hide"
                                               data-category-id="{{ category.getId() }}"
                                               data-btn-ok-label="{{ 'admin.global.buttons.yes'|trans({}, 'admin') }}"
                                               data-btn-cancel-label="{{ 'admin.global.buttons.no'|trans({}, 'admin') }}"
                                               data-toggle="confirmation"
                                               data-popout="true"
                                               data-on-confirm="modifyCategory">
                                                <i class="icon-close"></i>
                                            </a>
                                        {% else %}
                                            <a class="btn purple btn-sm tooltips"
                                               type="button"
                                               data-container="body"
                                               data-placement="top"
                                               data-original-title="{{ 'admin.module.category.index.btn_show'|trans({}, 'admin') }}"
                                               data-action="show"
                                               data-category-id="{{ category.getId() }}"
                                               data-btn-ok-label="{{ 'admin.global.buttons.yes'|trans({}, 'admin') }}"
                                               data-btn-cancel-label="{{ 'admin.global.buttons.no'|trans({}, 'admin') }}"
                                               data-toggle="confirmation"
                                               data-popout="true"
                                               data-on-confirm="modifyCategory">
                                                <i class="icon-check"></i>
                                            </a>
                                        {% endif %}

                                        <a href=""
                                           class="btn blue btn-sm tooltips"
                                           type="button"
                                           data-container="body"
                                           data-placement="top"
                                           data-original-title="{{ 'admin.module.category.index.btn_edit'|trans({}, 'admin') }}">
                                            <i class="icon-pencil"></i>
                                        </a>

                                        <a class="btn btn-danger btn-sm tooltips"
                                           type="button" data-container="body"
                                           data-placement="top"
                                           data-original-title="{{ 'admin.module.category.index.btn_delete'|trans({}, 'admin') }}"
                                           data-action="delete"
                                           data-category-id="{{ category.getId() }}"
                                           data-toggle="confirmation"
                                           data-btn-ok-label="{{ 'admin.global.buttons.yes'|trans({}, 'admin') }}"
                                           data-btn-cancel-label="{{ 'admin.global.buttons.no'|trans({}, 'admin') }}"
                                           data-popout="true"
                                           data-on-confirm="modifyCategory">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ loadLibrary('confirmation', 'js')|raw }}

    <script>

        function modifyCategory() {
            var status = $(this).data('action'),
                id     = $(this).data('category-id'),
                locale = '{{ app.request.attributes.get('_locale') }}'
            ;

            $.ajax({
                url: Routing.generate('admin_category_modify', {id: id, status: status}),
                method: 'POST'
            }).done(function (data) {
                console.log(data);
                data == 'success'?
                    window.location.replace(Routing.generate('admin_category', {'_locale': locale}))
                    : null;
            }).fail(function (data) {
                console.log("There was an error");
            });
        };
    </script>
{% endblock %}