{% extends 'AdminBundle:Master/Layouts:admin.html.twig' %}
{% set page_title = 'admin.module.category.breadcrumb.translate'|trans({}, 'admin') %}

{% block breadcrumbs %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('admin_dashboard') }}">
                    {{ 'admin.global.breadcrumb.home'|trans({}, 'admin') }}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('admin_category') }}">
                    {{ 'admin.module.category.breadcrumb.category'|trans({}, 'admin') }}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                <a>
                    {{ 'admin.module.category.breadcrumb.translate'|trans({}, 'admin') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block toptitle %}
    <h1 class="page-title"> {{ 'admin.module.category.name'|trans({}, 'admin') }}
        <small> {{ 'admin.module.category.translate.new_translation'|trans({}, 'admin') }}</small>
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn blue btn-circle btn-md" href="{{ path('admin_category') }}">
                    {{ 'admin.global.buttons.go_back'|trans({}, 'admin') }}
                </a>
            </div>
        </div>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="form-wizard" class="block form-wizard">
                <ul class="form-wizard-levels">
                    {% for language in languages %}
                        <li {% if app.request.get('lang') == language.short|lower %} class="active" {% endif %}>
                            <a href="{{ path('admin_category_edit', {'id': id, lang: language.short|lower}) }}">
                                {{ language.short|upper }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-grid font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{ 'admin.module.page.translate.caption'|trans({}, 'admin') }} </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    {% include '@Admin/Category/forms/create.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ loadLibraries({
        1: 'datatable',
        2: 'confirmation'
    }, 'js')|raw }}
    <script>
        CKEDITOR.replace('page_content');
        CKEDITOR.config.skin = 'office2013';
        CKEDITOR.config.height = '400px';
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ loadLibraries({
        1: 'datatable',
        2: 'confirmation'
    }, 'css')|raw }}
    <style>
        .cke_chrome {border: 1px solid rgba(74, 50, 114, 0.42) !important;}
        .cke_bottom {background: rgba(74, 50, 114, 0.8) !important;}
    </style>
{% endblock %}