{{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <div class="form-group">
        {{ form_label(form.region) }}
        {{ form_errors(form.region) }}
        {{ form_widget(form.region) }}
    </div>

    <div class="row">

        <div class="form-group col-md-6">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group col-md-6">
            {{ form_label(form.map) }}
            {{ form_errors(form.map) }}
            {{ form_widget(form.map) }}
        </div>

        <div class="form-group col-md-12">
            <div id="map" style="width: 100%; height: 350px;"></div>
        </div>

        <div class="form-group col-md-4">
            {{ form_label(form.seo_title) }}
            {{ form_errors(form.seo_title) }}
            {{ form_widget(form.seo_title) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_label(form.seo_description) }}
            {{ form_errors(form.seo_description) }}
            {{ form_widget(form.seo_description) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_label(form.seo_keywords) }}
            {{ form_errors(form.seo_keywords) }}
            {{ form_widget(form.seo_keywords) }}
        </div>

        {% if image is defined and image is not empty %}
            <div class="form-group col-md-12">
                <img src="{{ asset('/uploads/cities/'~image) }}" style="width: 31.7%"/>
            </div>
        {% endif %}

        <div class="form-group col-md-4">
            {{ form_label(form.image) }}
            {{ form_errors(form.image) }}
            {{ form_widget(form.image) }}
        </div>

    </div>

    <div class="form-group">
        {{ form_widget(form.save) }}
        <a href="{{ path('admin_city') }}"
           class="btn default">{{ 'admin.global.form.button_cancel'|trans({}, 'admin') }}
        </a>
    </div>

{{ form_end(form) }}