<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %} {{ 'admin.global.title'|trans({}, 'admin') }} </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('skins/backend/assets/global/plugins/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ absolute_url(asset('http://simplelineicons.com/css/simple-line-icons.css')) }}" rel="stylesheet" type="text/css"/>
    {% block stylesheets %}
    {% stylesheets output='assets/admin/css/layout.css' filter='cssrewrite'
        'skins/backend/assets/global/plugins/bootstrap/css/bootstrap.min.css'
        'skins/backend/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
        'skins/backend/assets/global/css/components.min.css'
        'skins/backend/assets/global/css/plugins.min.css'
        'skins/backend/assets/layouts/layout/css/layout.min.css'
        'skins/backend/assets/layouts/layout/css/themes/darkblue.min.css'
        'skins/backend/assets/layouts/layout/css/custom.css'%}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}
    {% endblock %}
    <link rel="shortcut icon"  />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="/">
                    <img class="logo-default" /> </a>
                <div class="menu-toggler sidebar-toggler">
                    <span></span>
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span></span>
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="{{ asset('skins/backend/assets/layouts/layout/img/avatar3_small.jpg')  }}" />
                            <span class="username username-hide-on-mobile"> {{ app.user.firstName ~' '~ app.user.lastName }} </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="{{ path('admin_logout') }}">
                                    <i class="icon-key"></i>
                                    {{ 'admin.layout.logout'|trans({}, 'admin') }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% set route, locale, params =
                           app.request.attributes.get('_route'),
                           app.request.attributes.get('_locale'),
                           app.request.get('_route_params')
                    %}
                    <li class="dropdown dropdown-language">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                            <img alt="" src="/skins/backend/assets/global/img/flags/{{ locale }}.png">
                            <span class="langname"> {{ app.request.attributes.get('_locale')|upper }} </span>
                            <i class="fa fa-angle-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="{{ path(route, params|merge({'_locale': 'en'})) }}">
                                    <img alt="" src="{{ asset('/skins/backend/assets/global/img/flags/en.png') }}"> En </a>
                            </li>
                            <li>
                                <a href="{{ path(route, params|merge({'_locale': 'sr'})) }}">
                                    <img alt="" src="{{ asset('/skins/backend/assets/global/img/flags/sr.png') }}"> Rs </a>
                            </li>
                            <li>
                                <a href="{{ path(route, params|merge({'_locale': 'ru'})) }}">
                                    <img alt="" src="{{ asset('/skins/backend/assets/global/img/flags/ru.png') }}"> Ru </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>

    <div class="page-container">

        <!-- Including admin sidebar ordered with ACL roles visibility for every user -->
        {% include 'AdminBundle:Master/Partials:admin-sidebar.html.twig' %}

        <div class="page-content-wrapper">
            <div class="page-content page-container-bg-solid">

                <!-- Breadcrumbs for every view related to controller -->
                {% block breadcrumbs %}{% endblock %}

                <!-- View Title under breadcrumbs for every view related to controller -->
                {% block toptitle %}{% endblock %}

                <!-- View content (tables, actions, forms) related to controller -->
                {% block content %}{% endblock %}

            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="page-footer-inner"> {{ "now"|date('Y') }} &copy; {{ 'admin.global.name'|trans({}, 'admin')|lower }}
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>

{% block javascripts %}
    {% javascripts output='assets/admin/js/layout.js'
        'skins/backend/assets/global/plugins/jquery.min.js'
        'skins/backend/assets/global/plugins/bootstrap/js/bootstrap.min.js'
        'skins/backend/assets/global/plugins/js.cookie.min.js'
        'skins/backend/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
        'skins/backend/assets/global/plugins/jquery.blockui.min.js'
        'skins/backend/assets/global/scripts/app.min.js'
        'skins/backend/assets/layouts/layout/scripts/layout.min.js'
        'skins/backend/assets/layouts/layout/scripts/demo.min.js'
        'skins/backend/assets/layouts/global/scripts/quick-sidebar.min.js'
        'skins/backend/assets/layouts/global/scripts/quick-nav.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% include 'AdminBundle:Master/Partials:admin-flashes.html.twig' %}
</body>
</html>
