{% extends 'AdminBundle:Master/Layouts:admin.html.twig' %}
{% set page_title = 'admin.module.city.breadcrumb.edit'|trans({}, 'admin') %}

{% block breadcrumbs %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('admin_dashboard') }}">
                    {{ 'admin.global.breadcrumb.home'|trans({}, 'admin') }}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('admin_city') }}">
                    {{ 'admin.module.city.breadcrumb.city'|trans({}, 'admin') }}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                <a>
                    {{ 'admin.module.city.breadcrumb.edit'|trans({}, 'admin') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block toptitle %}
    <h1 class="page-title"> {{ 'admin.module.city.name'|trans({}, 'admin') }}
        <small>
            {{ 'admin.module.city.edit.pagetitle'|trans({}, 'admin') }}
            <strong> {{ city.getTitle() }}</strong>
        </small>
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn blue btn-circle btn-md" href="{{ path('admin_city') }}">
                    {{ 'admin.global.buttons.go_back'|trans({}, 'admin') }}
                </a>
            </div>
        </div>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="form-wizard" class="block form-wizard">
                <ul class="form-wizard-levels">
                    {% for language in languages %}
                        <li {% if app.request.get('lang') == language.short|lower %} class="active" {% endif %}>
                            <a href="{{ path('admin_city_edit', {'id': city.getTranslatable().getId(), lang: language.short|lower}) }}">
                                {{ language.short|upper }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-grid font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{ 'admin.module.city.edit.caption'|trans({}, 'admin') }} </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    {% include '@Admin/City/forms/create.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ loadLibraries('gmaps', 'js')|raw }}
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyD07QN1C5ATB6dgzP9l5kF_CDn7ihVXric"></script>

    <script>
        var unsplitedGeoLocation = '{{ city.getTranslatable().getMap() }}';
        var countryGeolocation = unsplitedGeoLocation.split(', ');
        var map = new GMaps({
            el: '#map',
            lat: countryGeolocation[0],
            lng: countryGeolocation[1],
            zoom: 7,
            click: function(event) {

                // first remove markers if exist
                map.removeMarkers();
                var lat = event.latLng.lat(),
                    lng = event.latLng.lng(),
                    coordinates = lat +', '+lng;

                map.addMarker({
                    lat: lat,
                    lng: lng,
                    icon: {
                        url: 'http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png',
                        scaledSize: new google.maps.Size(60, 60),
                    },
                    title: '{{ 'admin.module.city.form.geo_map_text'|trans({}, 'admin') }}'
                });

                // setting map input coordinates
                $('#city_map').val(coordinates);
            },
        });

        map.addMarker({
            lat: countryGeolocation[0],
            lng: countryGeolocation[1],
            icon: {
                url: 'http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png',
                scaledSize: new google.maps.Size(60, 60),
            },
        });
    </script>
{% endblock %}