<div class="page-sidebar-wrapper">

    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="120" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>

            <li class="nav-item {{ isActive('admin_dashboard', 'parent') }}">
                <a href="{{ path('admin_dashboard') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">{{ 'admin.sidebar.dashboard'|trans({}, 'admin') }}</span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">{{  'admin.sidebar.heading.near'|trans({}, 'admin') }}</h3>
            </li>
            <li class="nav-item {{ isActive('admin_page', 'parent') }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-grid"></i>
                    <span class="title">{{ 'admin.sidebar.page.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start {{ isActive('admin_page', 'child') }}">
                        <a href="{{ path('admin_page') }}" class="nav-link">
                            <span class="title">{{ 'admin.sidebar.page.pages'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start {{ isActive('admin_page_sitemap', 'child') }}">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.page.sitemap'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item
                {{ isActive('admin_category', 'parent') }}
                {{ isActive('admin_category_create', 'parent') }}
                {{ isActive('admin_category_edit', 'parent') }}
                {{ isActive('admin_category_translate', 'parent') }}
                {{ isActive('admin_subcategory', 'parent') }}
                {{ isActive('admin_subcategory_create', 'parent') }}
                {{ isActive('admin_subcategory_edit', 'parent') }}
                {{ isActive('admin_subcategory_translate', 'parent') }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">{{ 'admin.sidebar.category.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start {{ isActive('admin_category', 'child') }}">
                        <a href="{{ path('admin_category') }}" class="nav-link">
                            <span class="title">{{ 'admin.sidebar.category.categories'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item
                {{ isActive('admin_tag', 'parent') }}
                {{ isActive('admin_tag_create', 'parent') }}
                {{ isActive('admin_tag_edit', 'parent') }}
                {{ isActive('admin_tag_translate', 'parent') }}">
                <a href="{{ path('admin_tag') }}" class="nav-link nav-toggle">
                    <i class="icon-tag"></i>
                    <span class="title">{{ 'admin.sidebar.tags.title'|trans({}, 'admin') }}</span>
                </a>
            </li>
            <li class="nav-item {{ isActive('admin_place', 'parent') }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-menu"></i>
                    <span class="title">{{ 'admin.sidebar.listing.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="{{ path('admin_place') }}" class="nav-link {{ isActive('admin_place', 'child') }}">
                            <span class="title">{{ 'admin.sidebar.listing.items'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.listing.commentsreviews'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item
                {{ isActive('admin_country', 'parent') }}
                {{ isActive('admin_country_create', 'parent') }}
                {{ isActive('admin_country_edit', 'parent') }}
                {{ isActive('admin_country_translate', 'parent') }}
                {{ isActive('admin_region', 'parent') }}
                {{ isActive('admin_region_create', 'parent') }}
                {{ isActive('admin_region_edit', 'parent') }}
                {{ isActive('admin_region_translate', 'parent') }}
                {{ isActive('admin_city_create', 'child') }}
                {{ isActive('admin_city', 'child') }}
                {{ isActive('admin_municipality', 'child') }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-location-pin"></i>
                    <span class="title">{{ 'admin.sidebar.place.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start {{ isActive('admin_country', 'child') }}">
                        <a href="{{ path('admin_country') }}" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.place.countries'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start {{ isActive('admin_region', 'child') }}">
                        <a href="{{ path('admin_region') }}" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.place.regions'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start {{ isActive('admin_city', 'child') }}">
                        <a href="{{ path('admin_city') }}" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.place.cities'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start {{ isActive('admin_municipality', 'child') }}">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.place.municipality'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">{{  'admin.sidebar.heading.admin'|trans({}, 'admin') }}</h3>
            </li>
            <li class="nav-item {{ isActive('admin_user', 'parent') }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-people"></i>
                    <span class="title">{{ 'admin.sidebar.users.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start {{ isActive('admin_user', 'child') }}">
                        <a href="{{ path('admin_user') }}" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.users.administration'|trans({}, 'admin') }}</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.users.frontend'|trans({}, 'admin') }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-flag"></i>
                    <span class="title">{{ 'admin.sidebar.language.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.language.settings'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-map"></i>
                    <span class="title">{{ 'admin.sidebar.map.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.map.icons'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.map.settings'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-graph"></i>
                    <span class="title">{{ 'admin.sidebar.statistics.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.statistics.analytics'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item {{ isActive('admin_newsletter', 'parent') }}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-heart"></i>
                    <span class="title">{{ 'admin.sidebar.marketing.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">{{ 'admin.sidebar.partners.title'|trans({}, 'admin') }}</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.marketing.advertises'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start {{ isActive('admin_newsletter', 'child') }}">
                        <a href="{{ path('admin_newsletter') }}" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.marketing.newsletter'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.marketing.notificatons'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">{{ 'admin.sidebar.global.title'|trans({}, 'admin') }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.global.settings'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="" class="nav-link ">
                            <span class="title">{{ 'admin.sidebar.global.layout'|trans({}, 'admin') }} </span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>