{% extends 'AdminBundle:Master/Layouts:admin.html.twig' %}
{% set page_title = 'User Edit' %}

{% block breadcrumbs %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('admin_dashboard') }}">
                    {{ 'admin.global.breadcrumb.home'|trans({}, 'admin') }}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('admin_user') }}">
                    {{ 'admin.module.user.breadcrumb.user'|trans({}, 'admin') }}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                <a>{{ 'admin.module.user.breadcrumb.edit'|trans({}, 'admin') }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block toptitle %}
    <h1 class="page-title"> {{ 'admin.module.user.name'|trans({}, 'admin') }}
        <small>
            {{ 'admin.module.user.edit.pagetitle'|trans({}, 'admin') }}
            <strong>{{ user.getFirstName ~' '~ user.getLastName }}</strong>
        </small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-user font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{ 'admin.module.user.edit.caption'|trans({}, 'admin') }}</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    {% include '@Admin/User/forms/create.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}